.deps/
.libs/
autom4te.cache/

*.la
*.lo
*.o

aclocal.m4
compile
configure
config.guess
config.h
config.h.in*
config.log
config.status
config.sub
depcomp
g3dviewer.desktop
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
mkinstalldirs
stamp-h1

libs/g3dgl-widget/test_g3dw
po/POTFILES
po/*.gmo
src/g3dviewer
thumbnailer/g3d-thumbnailer
