Source: g3dviewer
Section: graphics
Priority: optional
Build-Depends: debhelper (>> 3.0.0), libg3d-dev (>= 0.0.5), libgtk2.0-dev (>= 2.4.0)
Maintainer: Markus Dahms <mad@automagically.de>

Package: g3dviewer
Section: graphics
Architecture: any
Depends: libg3d0 (>= 0.0.5), libglib2.0-0, libgtk2.0-0 (>= 2.4.0)
Description: 3D object viewer

